/target/
/.settings/
/.idea/
/test-output/
*.iml
**/i18n/*.po
**/i18n/*.txt
*.project
*.classpath
debug.log
**/modifiedFeatures
/lib/*
/.allure/
/src/test/resources/scenarios/scenariosIds.txt
/src/test/resources/scenarios/failedScenariosTags.txt
/src/test/resources/features/api/public_thirdparty/ZipArchiveFiles/TEST_ZIP_19files.zip
/src/test/resources/features/api/public_thirdparty/ZipArchiveFiles/TEST_ZIP_19files_NoSupplier.zip
/src/test/resources/features/api/public_thirdparty/ZipArchiveFiles/TEST_ZIP_34files.zip
/src/test/resources/features/api/public_thirdparty/ZipArchiveFiles/TEST_ZIP_40MBInclFile.zip
/src/test/resources/features/api/public_thirdparty/ZipArchiveFiles/meta.json
