<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.apache.fontbox" level="WARN"/>
    <logger name="org.apache.pdfbox" level="WARN"/>
    <logger name="org.apache.hc" level="WARN" />
    <logger name="org.apache" level="WARN" />
    <logger name="httpclient" level="WARN" />
    <logger name="com.intuit" level="DEBUG"/>
    <logger name="org.openqa" level="WARN"/>


    <!-- Turn off http wire outgoing messages   -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/karate.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.intuit" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
